@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

:root {
  --base-margin: 1.6rem;
}

body {
  margin: 0;
  font:
    14px "OpenSans-Regular",
    sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.2em;
  text-align: center;
}

h2 {
  font-size: 2em;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  height: fit-content;
}

.navText {
  font-size: 30px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--base-margin);
  padding: 20px;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: auto;
}

.pageContent {
  color: #3498db;
  font-size: 1.5rem;
  text-align: center;
}
