.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.slogan {
  font-size: 20px;
  margin: 0;
}

.companyLogos {
  display: flex;
  gap: 20px;
}

.companyLogo {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.companyLogo:hover {
  transform: scale(1.1);
}
